---
---
<section id="about" class="max-w-6xl mx-auto py-16 px-4 md:px-8">
  <h2 class="text-3xl font-bold mb-8 text-[#a78bfa]">Sobre mí</h2>
  <div class="border-l-4 border-[#a78bfa] pl-6">
    <p class="max-w-2xl text-[#d1d5db] text-lg">
      Mi nombre es Nicolás Castillo, tengo 24 años y vivo en Santiago de Chile. Soy estudiante de último año de Ingeniería en Informática, apasionado por el desarrollo web, la tecnología y la resolución de problemas.<br><br>
      Disfruto aprender nuevas tecnologías y trabajar en proyectos que generen impacto y representen un desafío personal. Me considero una persona proactiva, autodidacta, con capacidad de adaptación, trabajo en equipo y liderazgo.<br><br>
      Siempre estoy en busca de nuevos retos y oportunidades para seguir mejorando mis habilidades y creciendo como profesional y persona.
    </p>
  </div>
</section> 